@model FoodStore.Entities.Product


<div class="col-sm-1">
    <div class="card text-center card-product">
        <div class="card-product__img">

            <a href="@Url.Action("Details", "Product", new {productName = @Model.Name})">
                <div class="card-product__title btn-info" style="width:100%">@Model.Name</div>
                @if (!string.IsNullOrEmpty(Model.SoldBy))
                {
                    <div class="card-product__title btn-primary" style="width:100%; max-width:220px">[@Model.SoldBy]</div>
                }
                <img class="card-img" src="@Model.Picture" alt="" style="max-width:220px;">
            </a>
            <div class="card-product__title btn-default" style="width:100%">[Rating: @Model.Rating] [Votes: @Model.NumberOfVotes]</div>

        </div>
        <div class="card-body">

            <p>@Model.Category</p>
            <p class="card-product__price">@Model.Price</p>
        </div>
        @using(Html.BeginForm("EditExternal", "ProductImporter"))
        {
            @Html.Hidden("name", Model.Name)
            @Html.Hidden("category", Model.Category)
            @Html.Hidden("price", Model.Price)
            @Html.Hidden("picture", Model.Picture)
            @Html.Hidden("size", Model.Size)
            @Html.Hidden("unit", Model.Unit)

            <input type="submit" value="Edit" class="btn btn-outline-info" />
        }
    </div>
</div>