@model FoodStore.Entities.Product
@using FoodStore.Entities

<div class="col-md-6 col-lg-4 col-xl-3">
    <div class="card text-center card-product">
        <div class="card-product__img">
            <img class="card-img" src="@Model.Picture" alt="">
                
        </div>
        <div class="card-body">
            <p>@Model.Category</p>
            <h4 class="card-product__title"><a href="single-product.html">@Model.Name</a></h4>
            <p class="card-product__price">@Model.Price</p>
            @using (Html.BeginForm("AddToCart", "Cart"))
            {
                @Html.HiddenFor(x => x.ProductID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <button><i class="ti-shopping-cart"></i>Add</button>
            }
            @Html.Partial("NutritionFacts", new Nutrition(@Model))
        </div>
    </div>
</div>