@model FoodStore.Models.ProductsListViewModel
@using FoodStore.HtmlHelpers


@{
    ViewBag.Title = "Products";
}


@Html.Partial("SellingNow")
<section class="section-margin calc-60px">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>@(Model.CurrentCategory ?? "All Categories")</p>
            @if(Model.SearchQuery != null)
            {
                <p>Search Query: @Model.SearchQuery</p>
            }
            <h3>@(Model.CurrentCategory != null ? "" : "Random products")</h3>
            @*<div class="product_container">*@
            <div class="row">
                @foreach (var p in Model.Products)
                {
                    @Html.Partial("ProductSummary", p)

                }
            </div>
        </div>
    </div>
</section>

@if (@Model.PagingInfo != null)
{
    <div class="btn-group" style="display:block;width:100%;">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
            new { page = x, q = Model.SearchQuery, 
                category = Model.CurrentCategory ?? "Search Results"}))
    </div>
}
