@model FoodStore.Models.PurchaseHistory
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>History</h2>
@foreach (var entry in Model.SortedByDate())
{
    <h2>On date @entry.Key</h2>
    foreach (var h in entry.Value)
    {
<div class="container-fluid row" style="border: 1px solid gray;margin-bottom: 3px;">
    <div class="col-sm-5">
        @h.ProductName: @h.ProductCount for @h.Price a piece
    </div>
    <div class="col-sm-4">
        @if (h.Rating > 0)
        {
            <button class="btn btn-danger">@h.Rating</button>
        }
        else
        {
            for (var i = 1; i < 6; i++)
            {
                <button  class="btn btn-default" onclick="vote(@i, @h.PurchaseID)">@i</button>
            }
        }


    </div>
    <div class="col-sm-2">My rating: @h.Rating</div>
</div>
    }
    <div>Total: @Model.CalculateTotalPrice(entry.Value)</div>
}
@Scripts.Render("~/Scripts/vote.js")

