@model FoodStore.Models.CartIndexViewModel
@{
    ViewBag.Title = "Sports Store: Your Cart";
}

    <style>
        #cartTable td {
            vertical-align: middle;
        }
    </style>

<h2>Your cart</h2>
<table id="cartTable" class="table">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.CartEntries)
        {
        <tr id="@line.Product.ProductID">
            <td class="text-center">
                <button onclick="minusProduct(@line.Product.ProductID)">-</button>
                <span id="@("q" + line.Product.ProductID)">@line.Quantity</span>
                <button onclick="plusProduct(@line.Product.ProductID)">+</button>
            </td>
            <td class="text-left">@line.Product.Name</td>
            <td class="text-right">@(Model.CalculateProductPriceWithDiscount(line.Product).ToString("c"))</td>
            <td class="text-right" id="@("subtotal" + line.Product.ProductID)">
                @((line.Quantity * Model.CalculateProductPriceWithDiscount(line.Product)).ToString("c"))
            </td>

            <td>
                @using (Html.BeginForm("RemoveFromCart", "Cart"))
                {
                    @Html.Hidden("ProductId", line.Product.ProductID)
                    @Html.HiddenFor(x => x.ReturnUrl)
                    <input class="btn btn-sm btn-warning"
                           type="submit" value="Remove" />
                }
            </td>

        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right" id="cartTotalValue">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" href="/">Continue shopping</a>
    @Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-primary" })
</div>